@import "reset";
@import "vars";
@import "navbar";
html {
    font-size:14px;
    
    body {
        
    background:url("https://cdn.discordapp.com/attachments/1041378474683801670/1050330702769553439/20221208_090502.jpg");
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    }
}