/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************** COULEURS ********************/
/***** ACCESSIBLES *****/
/***** AUTRES *****/
/******************** POLICES ********************/
/***** SANS SERIF *****/
/*** font-family: 'Roboto', sans-serif; ***/
/***** SERIF *****/
/*** font-family: 'Roboto Slab', serif; ***/
/***** MONOSPACE *****/
/*** font-family: 'Roboto Mono', monospace; ***/
.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}
.navbar figure {
  grid-column: 1/2;
  align-items: center;
  justify-content: center;
}
.navbar figure img {
  max-height: 6rem;
  padding-left: 2rem;
  margin: 1rem;
}
.navbar ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  list-style: none;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.navbar ul li:hover {
  color: black;
}
.navbar ul li:hover::before {
  background: linear-gradient(to bottom, #585d64, #697175, #7d8685, #959a97, #adaeab);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.navbar ul:first-of-type {
  grid-column: 2/3;
}
.navbar ul:last-of-type {
  grid-column: 3/4;
}

.navbarfix {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}
.navbarfix figure {
  grid-column: 1/2;
  align-items: center;
  justify-content: center;
}
.navbarfix figure img {
  max-height: 6rem;
  padding-left: 2rem;
  margin: 1rem;
}
.navbarfix ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navbarfix ul li {
  list-style: none;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.navbarfix ul li a {
  text-decoration: none;
  color: #fff;
}
.navbarfix ul li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.navbarfix ul li:hover {
  color: black;
}
.navbarfix ul li:hover::before {
  background: linear-gradient(to bottom, #585d64, #697175, #7d8685, #959a97, #adaeab);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.navbarfix ul:first-of-type {
  grid-column: 2/3;
}
.navbarfix ul:last-of-type {
  grid-column: 3/4;
}

html {
  font-size: 14px;
}
html body {
  height: 200vh;
  background: url("https://cdn.discordapp.com/attachments/1041378474683801670/1050330702769553439/20221208_090502.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
