
.btn-red {
  background-color: #ba0534;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .30rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  width: auto;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #B22222;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-red:hover {
  transform: translateY(-1px);
}

.btn-red:active {
  background-color: #B22222;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}





.btn-green {
  background-color: #106942;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .30rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  width: auto;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #006400;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-green:hover {
  transform: translateY(-1px);
}

.btn-green:active {
  background-color: #006400;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}







.btn-blue {
  background-color: #0000CD;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .30rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  width: auto;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #00008B;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-blue:hover {
  transform: translateY(-1px);
}

.btn-blue:active {
  background-color: #00008B;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}






.btn-orange {
  background-color: #fd790f;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .30rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  width: auto;
}

.btn-orange:hover,
.btn-orange:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-orange:hover {
  transform: translateY(-1px);
}

.btn-orange:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}





.btn-gold {
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  touch-action: manipulation;
}

.btn-gold:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-gold:active {
  transform: scale(0.95);
}
    









